$color_1: var(--color);

b {
    color: black;
}

/* Building Solutions */
.building-solutions {
    background-image: url('../../../public/images/about-us-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 137px;

    .mrl {
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-title {
        display: block;
        align-items: start;
        padding: 166px 228px 175px 109px;
        margin-bottom: 0px;

        h1 {
            color: rgba($color: white, $alpha: 0.9);
            font-size: 48px;
            font-weight: 400;
            letter-spacing: -2.88px;
        }
    }
}

/* About us Section */
.about-us {
    background: #fff;

    h2 {
        padding-top: 0px;
        margin-bottom: 0px;
    }

    img {
        max-width: 100%;
        height: auto;
        // padding-top: 55px;
        // padding-bottom: 137px;
        // margin-left: 142px;
    }

    .main-title {
        margin-bottom: 0px;
        padding: 110px 228px 0px 109px;
    }

    p {
        // padding-bottom: 140px;
        padding-left: 74px;
        padding-right: 108px;
        font-size: 15px;
        line-height: 31px;
    }

    .break-margin {
        margin-top: 10px;
    }
}

/* Team Group section */
.about-group-section {
    background-color: #eceff8;
    padding-left: 106px;

    .nav-route {
        p {
            font-size: 15px;
            line-height: 28px;
            color: #201d29;
        }

        #company-details {
            margin-bottom: 64px;
        }
    }

    .nav-section {
        margin-top: 10px;

        ul {
            position: sticky;
        }
    }

    .active-nav {
        color: #f7931e;
        border-left: 2px solid #f7931e;
    }

    .nav-route {
        .main-title {
            margin-bottom: 17px;
        }
        h2 {
            font-size: 38px;
        }

        p {
            font-size: 15px;
            line-height: 28px;
        }

        #company-details {
            margin-bottom: 64px;
        }

        h2::after {
            margin-left: 2px;
        }

        .child {
            margin-top: 80px;
        }

        .route-details {
            border-bottom: 2px solid #c1c6cf;
            padding-bottom: 50px;
        }

        .about-company-img {
            position: relative;
            bottom: 50px;
        }
    }

    li {
        cursor: pointer;
        border-left: 2px solid #c1c6cf;
        padding-bottom: 40px;

        h6 {
            padding-left: 20px;
        }
    }

    .our-values-card {
        background-color: white;
        margin-top: 15px;
        border: 1px solid #bfc2cd;
        border-radius: 10px;
        padding: 0 25px;
        width: 100%;

        p {
            font-size: 12px;
            margin-top: 10px;
        }
        .reduce-line-height {
            line-height: 20px;
        }
    }
}

// @media only screen and (min-width: 1200px) - Desktops and larger screens.
@media only screen and (min-width: 1200px) {
    .about-us {
        background: #fff;
        padding-bottom: 137px;

        img {
            max-width: 100%;
            height: auto;
            padding-top: 55px;
            // margin-left: 142px;
        }

        .main-title {
            margin-bottom: 0px;
            padding: 110px 110px 0px 109px;
        }

        h2 {
            margin-bottom: 0px;
        }

        p {
            padding-top: 80px;
            font-size: 15px;
            line-height: 31px;
            padding-left: 74px;
            padding-right: 108px;
        }

        .break-margin {
            margin-top: 10px;
        }
    }

    .about-group-section {
        background-color: #eceff8;
        padding-left: 106px;

        .nav-route {
            .main-title {
                margin-bottom: 17px;
            }
            h2 {
                font-size: 38px;
            }

            p {
                font-size: 15px;
                line-height: 28px;
                color: #201d29;
            }

            #company-details {
                margin-bottom: 64px;
            }
        }

        .nav-section {
            margin-top: 108px;

            ul {
                position: sticky;
            }
        }

        .nav-route {
            h2 {
                font-size: 38px;
            }

            p {
                font-size: 15px;
                line-height: 28px;
            }

            #company-details {
                margin-bottom: 64px;
            }

            .child {
                margin-top: 80px;
            }

            .route-details {
                border-bottom: 2px solid #c1c6cf;
                padding-bottom: 50px;
                width: 95%;
            }
        }

        li {
            cursor: pointer;
            border-left: 2px solid #c1c6cf;
            padding-bottom: 40px;

            h6 {
                padding-left: 20px;
            }
        }

        .our-values-card {
            background-color: white;
            margin-top: 15px;
            border: 1px solid #bfc2cd;
            border-radius: 10px;
            padding: 15px 25px;
            width: 49vh;

            p {
                font-size: 12px;
                margin-top: 10px;
                margin-bottom: 0 !important;
            }
        }
    }
}

// @media only screen and (min-width: 1200px) and (max-width: 1400px) - Desktops with larger screens, still within a slightly narrower range.
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .building-solutions {
        margin-top: 100px;

        background-image: url('../../../public/images/about-us-banner.png');

        background-size: cover;

        .main-title {
            display: block;
            align-items: start;
            padding: 166px 228px 175px 109px;

            h1 {
                color: white;
                font-size: 48px;
                font-weight: 400;
                letter-spacing: -0em;
            }
        }
    }

    .about-us {
        background: #fff;

        img {
            max-width: 100%;
            height: auto;
            padding-top: 55px;
            margin-left: 61px;
            padding-left: 53px;
            padding-bottom: 137px;
        }

        .main-title {
            margin-bottom: 0px;
            padding: 110px 110px 0px 109px;
        }

        h2 {
            margin-bottom: 0px;
        }

        p {
            padding-top: 80px;
            font-size: 15px;
            line-height: 31px;
            padding-left: 74px;
            padding-right: 108px;
        }

        .break-margin {
            margin-top: 10px;
        }
    }

    .about-group-section {
        background-color: #eceff8;
        padding-left: 112px;

        .nav-section {
            margin-top: 80px;

            ul {
                position: sticky;
            }
        }

        .nav-route {
            .main-title {
                margin-bottom: 17px;
            }

            h2 {
                font-size: 30px;
                font-weight: 500;
                letter-spacing: -0.6px;
            }

            p {
                font-size: 15px;
                line-height: 28px;
                color: #201d29;
            }

            overflow: auto;
            scroll-behavior: smooth;

            #company-details {
                margin-bottom: 64px;
            }

            .child {
                margin-top: 80px;
            }

            .route-details {
                border-bottom: 2px solid #c1c6cf;
                padding-bottom: 50px;
                width: 95%;
            }
        }

        li {
            cursor: pointer;
            border-left: 2px solid #c1c6cf;
            padding-bottom: 40px;

            h6 {
                padding-left: 20px;
            }
        }

        .our-values-card {
            background-color: white;
            margin-top: 15px;
            border: 1px solid #bfc2cd;
            border-radius: 10px;
            padding: 15px 25px;
            width: 49vh;

            p {
                font-size: 12px;
                margin-top: 10px;
            }
        }
    }
}

// @media only screen and (min-width: 992px) and (max-width: 1199px) - Tablets and smaller desktop screens.
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .building-solutions {
        margin-top: 100px;

        background-image: url('../../../public/images/about-us-banner.png');

        background-size: inherit;

        .main-title {
            display: block;
            align-items: start;
            padding: 174px 54px 174px 54px;

            h1 {
                color: white;
                text-align: center;
                font-size: 38px;
                font-weight: 400;
                letter-spacing: -0.06em;
            }
        }
    }

    .about-us {
        padding-bottom: 100px;
        .main-title {
            padding-bottom: 0px;

            h2 {
                padding-top: 0px;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
        }

        img {
            margin-top: 40px;
            max-width: 100%;
            height: auto;
            padding-left: 29px;
            margin-left: 30px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            padding-left: 33px;
            padding-right: 33px;
            padding-top: 40px;
        }

        .break-margin {
            margin-top: 10px;
        }
    }

    .about-group-section {
        padding-left: 41px;
        padding-right: 41px;

        .nav-route {
            h2 {
                font-size: 28ox;
            }

            p {
                font-size: 15px;
                line-height: 26px;
            }
        }

        .nav-section {
            display: none;
        }

        .our-values-card {
            width: 300px;
        }

        .card-fluid {
            display: block;
            flex-direction: row;
            gap: 20px;
        }
    }
}

// @media (min-width: 768px) and (max-width: 991px) - Tablets.
@media (min-width: 768px) and (max-width: 991px) {
    .building-solutions {
        margin-top: 95px;

        background-image: url('../../../public/images/about-us-banner.png');

        background-size: cover;

        .main-title {
            display: block;
            align-items: start;
            padding: 174px 54px 174px 54px;
            text-align: center;

            h1 {
                color: white;

                font-size: 36px;
                font-weight: 400;
                letter-spacing: -0.06em;
            }
        }
    }

    .about-us {
        .main-title {
            margin-bottom: 0px;

            h2 {
                padding-top: 0px;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
        }

        img {
            margin-top: 22px;
            max-width: 100%;
            height: auto;
            margin-left: -19px;
            padding-left: 44px;
        }

        p {
            font-size: 14px;
            line-height: 30px;
            padding-top: 39px;
            padding-left: 0px;
            padding-right: 117px;
        }

        .break-margin {
            margin-top: 10px;
        }
    }

    .about-group-section {
        padding-left: 41px;
        padding-right: 41px;

        .nav-route {
            h2 {
                font-size: 28ox;
            }

            p {
                font-size: 15px;
                line-height: 26px;
            }
            .img-fluid {
                margin-top: 40px;
            }
            .about-company-img {
                position: relative;
                bottom: 0px;
            }
        }

        .nav-section {
            display: none;
        }

        .card-fluid {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .img-fluid {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// @media (min-width: 576px) and (max-width: 767px) - Larger smartphones and smaller tablets.
@media (min-width: 576px) and (max-width: 767px) {
    .building-solutions {
        background-image: url('../../../public/images/about-us-banner.png');

        background-size: cover;
        margin-top: 105px;

        .main-title {
            display: block;
            align-items: start;
            text-align: center;
            padding: 225px 8px 225px 8px;

            h1 {
                color: white;
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 6px;
                line-height: 36px;

                br {
                    display: none;
                }
            }
        }
    }

    .about-us {
        p {
            padding-top: 31px;
            padding-left: 18px;
            padding-right: 0px;
        }

        .main-title {
            h2 {
                padding-top: 60px;
            }
        }

        .row {
            flex-direction: column-reverse;
        }

        img {
            max-width: 100%;
            height: auto;
            padding: 30px 38px 30px 0px;
            margin-left: 0px;
        }
    }

    .about-group-section {
        padding-left: 20px;
        padding-right: 20px;

        .nav-route {
            h2 {
                font-size: 22px;
            }

            p {
                font-size: 15px;
                line-height: 31px;
            }
            .img-fluid {
                margin-top: 40px;
            }
            .about-company-img {
                position: relative;
                bottom: 0px;
            }
        }

        .nav-section {
            display: none;
        }

        .card-fluid {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .img-fluid {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .content-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// @media only screen and (max-width: 767px) - Smaller smartphones.
@media only screen and (max-width: 767px) {
    .building-solutions {
        background: url('../../../public/images/about-us-banner.png');
        background-position: top 100px left 20%;
        background-size: cover;
        margin-top: 0;

        .main-title {
            display: flex;
            align-items: center;
            text-align: center;
            height: 100vh;
            padding: 0px 8px 0 8px;
            justify-content: center;

            h1 {
                color: rgba($color: white, $alpha: 0.9);
                font-size: 30px;
                font-weight: 400;
                letter-spacing: -1.8px;
                line-height: 36px;
                padding: 0 12px;

                br {
                    display: none;
                }
            }
        }
    }

    .about-us {
        .main-title {
            padding: 0px;
            h2 {
                padding-left: 0px;
                padding-top: 60px;
                padding-bottom: 0px;
            }
        }

        p {
            b {
                color: black;
            }

            padding-top: 31px;
            padding-left: 18px;
            padding-right: 0px;
        }

        .row {
            flex-direction: column-reverse;
        }

        img {
            max-width: 100%;
            height: auto;
            padding: 30px 0px 30px 0px;
            margin-left: 0px;
        }
    }

    .about-group-section {
        padding-left: 20px;
        padding-right: 20px;

        .our-values-card {
            padding: 20px 10px;
            margin: 10px 0px;
        }

        .nav-route {
            p {
                font-size: 15px;
                line-height: 31px;
                margin-bottom: 16px;
            }

            h2 {
                font-size: 22px;
            }

            .about-company-img {
                position: relative;
                bottom: 0px;
            }
        }

        .nav-section {
            display: none;
        }

        .card-fluid {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 38px;
        }

        .img-fluid {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
    }

    .content-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .download-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mrn-top-100 {
        margin-top: 88px;
    }

    .category-2.content-center {
        flex-direction: column;
    }
}
