@font-face {
    font-family: 'SinkinSans-Regular';
    src: url(../../public/fonts/SinkinSans-300Light.otf);
    font-weight: 300;
    display: 'swap';
}

@font-face {
    font-family: 'SinkinSans-Regular';
    src: url(../../public/fonts/SinkinSans-400Regular.otf);
    font-weight: 400;
    display: 'swap';
}

@font-face {
    font-family: 'SinkinSans-Regular';
    src: url(../../public/fonts/SinkinSans-500Medium.otf);
    font-weight: 500;
    display: 'swap';
}

@font-face {
    font-family: 'SinkinSans-Regular';
    src: url(../../public/fonts/SinkinSans-600SemiBold.otf);
    font-weight: 600;
    display: 'swap';
}

@font-face {
    font-family: 'SinkinSans-Regular';
    src: url(../../public/fonts/SinkinSans-600SemiBold.otf);
    font-weight: 700;
    display: 'swap';
}

@font-face {
    font-family: 'SinkinSans-Regular';
    src: url(../../public/fonts/SinkinSans-800Black.otf);
    font-weight: 800;
    display: 'swap';
}

@font-face {
    font-family: 'SinkinSans-Regular';
    src: url(../../public/fonts/SinkinSans-800Black.otf);
    font-weight: 900;
    display: 'swap';
}

@font-face {
    font-family: 'Plus-Jakarta-Sans-bold';
    src: url(../../public/fonts/PlusJakartaSans-Bold.ttf);
    font-weight: 700;
    display: 'swap';
}

@font-face {
    font-family: 'Plus_Jakarta_Sans';
    src: url(../../public/fonts/PlusJakartaSans-Medium.ttf);
    font-weight: 500;
    display: 'swap';
}

@font-face {
    font-family: 'plus-jakarta-sans-regular';
    src: url(../../public/fonts/PlusJakartaSans-Regular.ttf);
    font-weight: 400;
    display: 'swap';
}

:root {
    --font-family: 'SinkinSans-Regular';
    --font-family-header-bold: 'Plus-Jakarta-Sans-bold';
    --font-family-header-medium: 'Plus_Jakarta_Sans';
    --font-family-footer-regular: 'plus-jakarta-sans-regular';
    --primary-color: #f7931e;
    --primary-hover-color: #11527e;
    --secondry-color: #201d29;
    --color: #201d29;
    --white-color: #ffffff;
    --light-color: #67656b;
    --border-white-color: #ffffff;
    --border-primary-color: #f7931e;
    --page-1-color: #e5eef5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color) var(--border-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    display: none;
}

*::-webkit-scrollbar-track {
    background: var(--border-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--border-color);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family) !important;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    color: var(--color); 
}

@media (min-width: 1560px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1520px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    margin-bottom: 0;
}

p {
    color: var(--light-color);
    line-height: 1.4;
}

svg {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    fill: var(--dark-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    -moz-transition: var(--transition);
}

span {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--dark-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    -moz-transition: var(--transition);
}

a:hover,
a:focus {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.padd-btm-100 {
    padding-bottom: 144px;
}

.padd-top-100 {
    padding-top: 144px;
}

.mb-36 {
    margin-bottom: 36px;
}

.mb-34 {
    margin-bottom: 34px;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.main-title h1,
.main-title h2 {
    font-size: 58px;
    letter-spacing: -2.878px;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.main-title h3 {
    font-size: 24.667px;
    font-weight: 700;
    letter-spacing: -1.233px;
}

.main-title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 260px;
    margin: 0 auto;
    border-bottom: 2px solid var(--border-white-color);
}

.main-title h2.border-orange-color::after {
    border-bottom: 2px solid var(--border-primary-color);
}

.main-title h2.main-border-none::after {
    content: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.all-btn {
    font-family: var(--font-family-header-bold);
    color: var(--white-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10.963px;
    background: var(--primary-color);
    padding: 21px 58px;
    margin-top: 40px;
    border: none;
}

.all-btn:active,
.all-btn:hover {
    background: var(--primary-hover-color);
    color: var(--white-color);
}

.all-btn:focus {
    outline: none;
}

.white-color {
    color: var(--white-color);
}

.ornage-color {
    color: var(--primary-color);
}

.main-title h2.black-color,
.black-color {
    color: var(--color);
}

.contact-input {
    margin-bottom: 23px;
}

.contact-input label {
    color: var(--light-color);
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.contact-input input {
    border-radius: 7.12px;
    border: 1.424px solid #c1c6cf;
    background: var(--white-color);
    padding: 12px 15px;
}

.contact-input textarea {
    border-radius: 7.12px;
    border: 1.424px solid #c1c6cf;
    background: var(--white-color);
    padding: 12px 15px;
}

.contact-input input:focus {
    border: 1.424px solid var(--border-primary-color);
}

.ft-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

/* tablet & laptop View */
@media (min-width: 992px) and (max-width: 1559px) {
    .padd-top-100 {
        padding-top: 80px;
    }

    .padd-btm-100 {
        padding-bottom: 80px;
    }

    .all-btn {
        font-size: 15px;
        padding: 16px 45px;
    }

    .main-title {
        margin-bottom: 50px;
    }

    .main-title h2 {
        font-size: 42px;
    }

    .main-title h2::after {
        width: 190px;
    }

    .main-title h3 {
        font-size: 18px;
        letter-spacing: -0.9px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .padd-top-100 {
        padding-top: 80px;
    }

    .padd-btm-100 {
        padding-bottom: 80px;
    }

    .all-btn {
        font-size: 14px;
        padding: 12px 30px;
    }

    .collapse.navbar-collapse {
        height: 100vh;
    }

    .main-title {
        margin-bottom: 50px;
    }

    .main-title h2 {
        font-size: 32px;
    }

    .main-title h3 {
        font-size: 15px;
    }

    .main-title h2::after {
        width: 150px;
    }

    .contact-input label {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {

    .content-center,
    .download-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-title h2 {
        font-size: 30px;
        letter-spacing: -1.5px;
    }

    .main-title h2::after {
        width: 150px;
    }

    .main-title h3 {
        font-size: 14px;
        letter-spacing: -0.7px;
    }

    .all-btn {
        font-size: 15px;
        padding: 14px 52px;
        margin-top: 30px;
    }

    .mrn-top-100 {
        margin-top: 88px;
    }

    .padd-top-100 {
        padding-top: 60px;
    }

    .padd-btm-100 {
        padding-bottom: 60px;
    }

    .header-logo {
        justify-content: center !important;
    }

    .logo-wrapper {
        justify-content: center !important;
    }
}

.mweb-toggler {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    height: 60px;
}

@media only screen and (min-width: 767px) {
    .mweb-toggler {
        display: none;
        width: 100%;
    }
}

.auth-footer-btn {
    width: 100%;
    border-radius: inherit;
}

.toggle-button {
    background: white;
    padding: 20px;
}

.break-margin {
    margin-top: 4px;
}

.grecaptcha-badge {
    visibility: hidden !important;
}


.opacity-image {
    opacity: 80%;
}

ul {
    white-space: pre-line;
}