// Header css will be goes here
$color_1: var(--color);
$color_2: var(--primary-hover-color);
$background-color_1: var(--white-color);
$background-color_2: rgba(0, 0, 0, 0.5);

/* navbar menu */
// .scrolled {
//     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
//     .navbar {
//         padding: 18px 0 !important;
//         img {
//             max-width: 266px;
//         }
//         .link-hover {
//             font-size: 16px;
//         }
//         .all-btn.sign-btn-toggle {
//             padding: 20px 30px;
//             font-size: 15px;
//         }
//     }
// }

.navbar-1 {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;

    img {
        max-width: 310px;
    }

    .navbar {
        padding: 30px 0;
    }
}

.link-hover {
    color: $color_1;
    font-family: var(--font-family-header-medium) !important;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
        color: $color_2;
    }
}

.link-active {
    color: #f7931e;
}

.items-line {
    width: 100px;
    bottom: -19px;
    border-radius: 5px;
    border: 3px solid #11527e;
    background: #11527e;
    position: absolute;
    margin-left: 20px;
    opacity: 4.5;
}

.all-btn.sign-btn-toggle {
    border-radius: 13px;
    font-family: var(--font-family-header-bold) !important;
    padding: 21px 45px;
    font-size: 20px;
}

.navbar-toggler-img {
    width: 40px;
    height: 40px;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .navbar-1 {
        img {
            max-width: 226px;
        }

        .navbar {
            padding: 22px 0;
        }

        .navbar-nav {
            a {
                font-size: 16px;
            }
        }

        .all-btn.sign-btn-toggle {
            font-size: 15px;
            padding: 15px 29px;
        }
    }

    // .scrolled {
    //     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    //     .navbar {
    //         padding: 18px 0 !important;
    //         img {
    //             max-width: 215px;
    //         }
    //         .link-hover {
    //             font-size: 15px;
    //         }
    //         .all-btn.sign-btn-toggle {
    //             padding: 18px 25px;
    //             font-size: 14px;
    //         }
    //     }
    // }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-1 {
        img {
            max-width: 226px;
        }

        .navbar {
            padding: 22px 0;
        }

        .navbar-nav {
            .active {
                color: #f7931e !important;
            }

            a {
                font-size: 16px;
            }
        }

        .all-btn.sign-btn-toggle {
            font-size: 15px;
            padding: 15px 29px;
        }
    }

    // .scrolled {
    //     .navbar {
    //         padding: 15px 0 !important;
    //         img {
    //             max-width: 220px;
    //         }
    //         .link-hover {
    //             font-size: 16px;
    //         }
    //         .all-btn.sign-btn-toggle {
    //             padding: 15px 29px;
    //         }
    //     }
    // }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-1 {
        .navbar {
            padding: 23px 0;

            img {
                max-width: 206px;
            }

            .navbar-nav {
                margin-top: 20px;

                .link-hover {
                    font-size: 17px;
                }
            }

            .all-btn.sign-btn-toggle {
                display: none;
            }
        }
    }

    // .scrolled {
    //     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    //     .navbar {
    //         padding: 18px 0 !important;
    //         img {
    //             max-width: 190px;
    //         }
    //         .link-hover {
    //             font-size: 15px;
    //         }
    //         .all-btn.sign-btn-toggle {
    //             padding: 18px 25px;
    //             font-size: 14px;
    //         }
    //     }
    // }
}

@media (max-width: 991px) {
    .collapse.navbar-collapse {
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background-color: $background-color_1;
        z-index: 1000;
        transition: all 0.3s ease;
        box-shadow: 0px 10px 10px rgb(224 224 224 / 78%);
        padding: 20px;
    }

    .collapse.navbar-collapse.show {
        left: 0;
    }

    .collapse-header {
        button.btn-close {
            transition: transform 0.3s ease; // Added transition property
        }
    }

    .navbar-nav {
        .link-hover {
            padding: 8px 0 !important;
        }
    }

    .navbar-toggler {
        padding-right: 0;
    }

    body.navbar-active {
        overflow-x: hidden;

        &::before {
            content: '';
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $background-color_2;
            z-index: 2;
            transition: opacity 0.3s ease; // Added transition property
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar-1 {
        .navbar {
            padding-top: 30px !important;
            padding-bottom: 20px !important;

            img {
                max-width: 225px;
            }

            .navbar-nav {
                margin-top: 20px;

                .link-hover {
                    font-size: 15px;
                }
            }

            .all-btn.sign-btn-toggle {
                padding: 12px 25px;
                font-size: 15px;
            }
        }
    }

    // .scrolled {
    //     .navbar {
    //         padding: 8px 0 !important;
    //         img {
    //             max-width: 175px;
    //         }
    //     }
    // }
}

@media only screen and (min-width: 300px) and (max-width: 363px) {
    .all-btn.sign-btn-toggle {
        padding: 12px 25px;
        font-size: 15px;
    }
}
