$color_1: var(--color);

/* Building Solutions */
.pricing-border {
    position: fixed;
    left: 0;
    width: 100%;
    top: 137px;
    margin: 0;
    border-top: 1px solid #e3e3e3;
    opacity: 4;
}

.pricing-section {
    margin-top: 137px;

    .pricing-card-one,
    .pricing-card-two {
        padding: 37px 35px 35px 37px;
    }

    .pricing-card-one {
        border-bottom: none;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .pricing-card-two {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .main-title {
        padding-top: 115px;

        h2::after {
            border-bottom: none;
        }

        h1 {
            margin-bottom: 20px;
            padding-bottom: 0px;
            font-size: 42px;
        }
    }

    .container {
        img {
            position: absolute;
            right: 10px;
        }
    }

    .main-title {
        margin-bottom: 0px;
    }
}

.pricing-card-one,
.pricing-card-two,
.pricing-card-three {
    background-color: white;
    border: 1.5px solid #e5eef5;
    border-radius: 20px;

    ul {
        margin-top: 20px;
        color: var(--dark-color);
        margin-left: 33px;
        list-style-type: disc;
        padding: 0;
    }
}

.pricing-card-one,
.pricing-card-three,
.pricing-card-two {
    h6 {
        font-size: 18px;
    }

    ul {
        font-size: 17px;
        font-weight: 300;
        line-height: 36px;
    }
}

.pricing-card-three {
    border: none;
    padding: 100px 247px 80px 105px;
}

/* Building Solutions */
.pricing-models {
    background: #e5eef5;
    margin-top: 33px;
    .model-section {
        margin: 0 15px;

        .img-view {
            padding-top: 107px;
            max-width: 100%;
            height: auto;
            margin-left: 50px;
        }

        .title-section {
            padding-top: 107px;
            padding-left: 100px;
        }
        ul {
            padding-left: 100px;
        }

        padding-bottom: 82px;
    }

    .model-section-one {
        margin: 0 15px;

        .img-view {
            margin-left: 38px;
            padding-top: 8px;
            max-width: 100%;
            height: auto;
        }

        .title-section {
            padding-top: 101px;
        }
    }

    h3 {
        margin-left: 10px;
        font-size: 28px;
    }

    ul {
        list-style-type: disc;
        padding-top: 15px;
        color: #201d29;
        margin-left: 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    li {
        margin-top: 16px;
        line-height: 25px;
    }

    .title-section {
        display: flex;
        align-items: center;
    }

    .main-title {
        margin-bottom: 0px;
        padding-top: 61px;

        h2 {
            padding-bottom: 0px;
            margin-bottom: 0px;
        }

        h2::after {
            border-bottom: none;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
    }
}

// @media only screen and (min-width: 1200px) - Desktops and larger screens.
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    .pricing-border {
        top: 137px;
    }

    .pricing-section {
        margin-top: 137px;

        .pricing-card-one,
        .pricing-card-two {
            padding: 37px 35px 35px 37px;
        }

        .title-section {
            display: flex;
            align-items: center;
        }

        .main-title {
            h2 {
                padding-bottom: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            h2::after {
                border-bottom: none;
                padding-bottom: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }

        .container {
            img {
                position: absolute;
                right: 10px;
            }
        }

        .main-title {
            margin-bottom: 0px;
        }
    }

    .pricing-models {
        margin-top: 77px;

        .main-title {
            margin-bottom: 0px;

            h2::after {
                border: none;
                padding-top: 80px;
            }
        }

        .title-section {
            display: flex;
            align-items: center;
        }

        .model-section {
            margin-left: 105px;
            padding-right: 122px;

            .img-view {
                padding-top: 107px;
                margin-left: 100px;
            }

            .title-section {
                padding-top: 96px;
                padding-left: 50px;
            }

            padding-bottom: 82px;
            ul {
                padding-left: 50px;
            }
        }

        .model-section-one {
            margin-left: 105px;
            padding-right: 122px;

            .img-view {
                margin-left: 38px;
                padding-top: 54px;
            }

            .title-section {
                padding-top: 101px;
            }
        }

        ul {
            list-style-type: disc;
            padding-top: 15px;
            margin-left: 25px;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }

        li {
            margin-top: 16px;
            line-height: 25px;
        }
    }

    .pricing-card-one,
    .pricing-card-three,
    .pricing-card-two {
        h6 {
            font-size: 18px;
        }

        ul {
            font-size: 17px;
        }
    }

    .pricing-card-three {
        border: none;
        padding: 100px 247px 80px 105px;
    }
}

// @media only screen and (min-width: 1200px) and (max-width: 1400px) - Desktops with larger screens, still within a slightly narrower range.
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    .pricing-border {
        top: 100px;
    }

    .pricing-section {
        margin-top: 100px;

        .pricing-card-one,
        .pricing-card-two {
            padding: 37px 35px 35px 37px;
        }

        .pricing-card-one {
            border-bottom: none;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .pricing-card-two {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
        }

        .title-section {
            display: flex;
            align-items: center;
        }

        .main-title {
            padding-top: 100px;

            h2 {
                margin-bottom: 20px;
            }

            h2::after {
                border-bottom: none;
            }
        }

        .container {
            img {
                position: absolute;
                right: 10px;
            }
        }

        .main-title {
            margin-bottom: 0px;
        }
    }

    .pricing-models {
        margin-top: 0px;

        h2 {
            padding-top: 80px;
        }

        .model-section {
            margin-left: 105px;
            padding-right: 122px;

            .img-view {
                padding-top: 107px;
            }

            .title-section {
                padding-top: 107px;
            }

            padding-bottom: 65px;
        }

        .model-section-one {
            margin-left: 105px;
            padding-right: 122px;

            .img-view {
                padding-top: 10px;
                margin-left: 38px;
            }

            .title-section {
                padding-top: 60px;
            }
        }

        .main-title {
            margin-bottom: 0px;
            padding-top: 0px;

            h2::after {
                border: none;
            }
        }

        ul {
            list-style-type: disc;
            padding-top: 15px;
            margin-left: 25px;
            font-size: 15px;
        }

        li {
            margin-top: 16px;
            line-height: 24px;
        }

        .title-section {
            display: flex;
            align-items: center;
        }
    }

    .pricing-card-one,
    .pricing-card-three,
    .pricing-card-two {
        h6 {
            font-size: 18px;
            font-weight: 600;
        }

        ul {
            font-size: 14px;
            font-weight: 300;
            line-height: 30px;
        }
    }

    .pricing-card-three {
        border: none;
        padding: 70px 300px 70px 105px;
    }
}

// @media only screen and (min-width: 992px) and (max-width: 1199px) - Tablets and smaller desktop screens.
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pricing-border {
        top: 97px;
    }

    .pricing-section {
        margin-top: 97px;

        .pricing-card-two,
        .pricing-card-one {
            padding: 26px 33px 26px 33px;
        }

        .title-section {
            display: flex;
            align-items: center;
        }

        img {
            display: none;
        }

        .container {
            img {
                display: none;
            }
        }

        .main-title {
            h2::after {
                border-bottom: none;
            }
        }

        .container {
            img {
                position: absolute;
                right: 10px;
            }
        }

        .main-title {
            margin-bottom: 0px;
            padding-top: 60px;
            padding-bottom: 30px;
        }

        ul {
            list-style-type: disc;
            padding-top: 15px;
            margin-left: 25px;
            font-size: 16px;
        }

        li {
            margin-top: 16px;
            line-height: 25px;
        }
    }

    .pricing-models {
        h3 {
            font-size: 18px;
        }

        .model-section {
            .img-view {
                padding-top: 117px;
                margin-left: 10px;
            }

            .title-section {
                padding-top: 61px;
                padding-left: 40px;
            }

            ul {
                padding-left: 40px;
            }
        }

        .model-section-one {
            .img-view {
                // padding-top: 92px;
                margin-left: 0px;
            }

            .title-section {
                padding-top: 65px;
            }
        }

        .main-title {
            h2::after {
                border: none;
            }
        }

        ul {
            list-style-type: disc;
            padding-top: 15px;
            margin-left: 28px;
            font-size: 14px;
            line-height: 26px;
        }

        li {
            margin-top: 15px;
            line-height: 25px;
        }

        .title-section {
            display: flex;
            align-items: center;
        }
    }

    .pricing-card-one,
    .pricing-card-three,
    .pricing-card-two {
        h6 {
            font-size: 16px;
        }

        ul {
            font-size: 14px;
        }
    }

    .pricing-card-three {
        border: none;
        padding: 31px 30px 30px 30px;
    }
}

// @media (min-width: 768px) and (max-width: 991px) - Tablets.
@media (min-width: 768px) and (max-width: 991px) {
    .pricing-border {
        top: 97px;
    }

    .pricing-section {
        margin-top: 97px;

        .pricing-card-two,
        .pricing-card-one {
            padding: 26px 33px 26px 33px;
        }

        img {
            display: none;
        }

        .main-title {
            padding-top: 60px;
            padding-bottom: 30px;

            h2::after {
                border-bottom: none;
            }
        }

        .main-title {
            margin-bottom: 0px;
        }
    }

    .pricing-models {
        h3 {
            font-size: 18px;
        }

        .model-section {
            .img-view {
                padding-top: 117px;
                margin-left: 0px;
            }

            .title-section {
                padding-top: 61px;
                padding-left: 30px;
            }
            ul {
                padding-left: 30px;
            }
        }

        .model-section-one {
            .img-view {
                padding-top: 92px;
                margin-left: 0px;
            }

            .title-section {
                padding-top: 65px;
            }
        }

        ul {
            font-size: 14px;
            line-height: 26px;
        }

        .main-title {
            margin-bottom: 0px;

            h2::after {
                border: none;
            }
        }
    }

    .pricing-card-one,
    .pricing-card-three,
    .pricing-card-two {
        h6 {
            font-size: 16px;
        }

        ul {
            font-size: 14px;
            line-height: 26px;
        }
    }

    .pricing-card-three {
        border: none;
        padding: 50px 40px 30px 30px;
    }
}

// @media (min-width: 576px) and (max-width: 767px) - Larger smartphones and smaller tablets.
@media (min-width: 576px) and (max-width: 767px) {
    .pricing-border {
        top: 105px;
    }

    .pricing-section {
        margin-top: 105px;

        .pricing-card-two,
        .pricing-card-one {
            padding: 33px 33px 33px 33px;
        }

        img {
            display: none;
        }

        .main-title {
            padding-top: 61px;

            h2::after {
                border-bottom: none;
            }
        }

        .main-title {
            margin-bottom: 0px;
        }
    }

    .pricing-models {
        .img-view {
            max-width: 100%;
            height: auto;
        }

        .model-section,
        .model-section-one {
            padding-top: 30px;
        }

        .model-section {
            .img-view {
                padding-top: 49px;
            }

            .title-section {
                padding-top: 103px;
                padding-left: 10px;
            }

            ul {
                padding-left: 10px;
            }
        }

        .model-section-one {
            .img-view {
                padding-top: 38px;
                margin-left: 0px;
            }

            .title-section {
                padding-top: 61px;
            }
        }

        .main-title {
            margin-bottom: 0px;

            h2::after {
                border: none;
            }

            h2 {
                margin-bottom: 0px;
            }
        }

        .title-section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .pricing-card-one,
    .pricing-card-three,
    .pricing-card-two {
        h6 {
            font-size: 16px;
        }

        ul {
            font-size: 14px;
            line-height: 26px;
        }
    }

    .pricing-card-three {
        border: none;
        padding: 31px 30px 30px 30px;
    }
}

// @media only screen and (max-width: 767px) - Smaller smartphones.
@media only screen and (max-width: 767px) {
    .pricing-border {
        top: 105px;
    }

    .pricing-section {
        margin-top: 105px;

        .pricing-card-two,
        .pricing-card-one {
            padding: 33px 33px 33px 33px;
        }

        img {
            display: none;
        }

        .main-title {
            h2::after {
                border-bottom: none;
            }
        }

        .container {
            img {
                position: absolute;
                right: 10px;
            }
        }

        .main-title {
            padding-top: 59px;
            margin-bottom: 0px;
        }
    }

    .pricing-models {
        .img-view {
            margin-top: 15px;
            max-width: 100%;
            height: auto;
        }

        .img-icon {
            margin-bottom: 10px;
        }

        .model-section {
            .img-view {
                padding-top: 49px;
                margin-left: 10px;
            }

            .title-section {
                padding-top: 103px;
                padding-left: 0px;
            }

            ul {
                padding-left: 10px;
            }
        }

        .model-section-one {
            .img-view {
                padding-top: 15px;
                margin-left: 0px;
            }

            .title-section {
                padding-top: 61px;
            }
        }

        .model-section-one {
            flex-wrap: wrap-reverse;
        }

        .main-title {
            margin-bottom: 0px;

            h2::after {
                border: none;
            }

            h2 {
                margin-bottom: 0px;
            }
        }

        .title-section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .pricing-card-one,
    .pricing-card-three,
    .pricing-card-two {
        h6 {
            font-size: 16px;
        }

        ul {
            font-size: 14px;
            line-height: 26px;
        }
    }

    .pricing-card-three {
        border: none;
        padding: 31px 30px 30px 30px;
    }

    .content-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mrn-top-100 {
        margin-top: 88px;
    }
}
