// Footer css will be goes here
$color_1: var(--white-color);
$color_2: var(--primary-color);
$color_3: #c1c6cf;
/* footer section  */
.footer {
    background: var(--primary-hover-color);
    padding-top: 65px;
}
.footer-logo-social {
    margin-bottom: 60px;
}
.footer-first-link {
    ul {
        li {
            a {
                font-family: var(--font-family-header-bold) !important;
            }
        }
    }
}
.footer-social-icon {
    span {
        font-family: var(--font-family-header-bold);
        font-size: 22px;
        font-weight: 600;
        text-transform: capitalize;
        margin-right: 26px;
    }
    ul {
        li {
            a {
                width: 38px;
                height: 38px;
                border: 2px solid #c1c6cf;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 25px;
                transition: all 0.4s;
                img.social-hover-svg {
                    display: none;
                    transition: all 0.4s;
                }
                &:hover {
                    border: 2px solid var(--border-primary-color);
                    img.social-svg {
                        display: none;
                    }
                    img.social-hover-svg {
                        display: block;
                    }
                }
            }
            &:last-child {
                a {
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
}
.footer-link {
    li {
        a {
            color: $color_1;
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
            margin-right: 34px;
            padding-right: 34px;
            &:hover {
                color: $color_2;
            }
        }
        &:last-child {
            a {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}
.footer-second-link.footer-link {
    font-family: var(--font-family-footer-regular) !important;
    li {
        a {
            border-right: 1px solid var(--border-white-color);
            font-weight: 400;
        }
        &:last-child {
            a {
                border-right: none;
            }
        }
    }
}
.footer-mail {
    font-family: var(--font-family-footer-regular) !important;
    span {
        font-size: 20px;
        margin-left: 10px;
    }
}
.footer-copyright {
    font-family: var(--font-family-footer-regular) !important;
    border-top: 1px solid rgba(229, 238, 245, 0.3);
    color: $color_3;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 50px;
    a {
        border-bottom: 1px solid #c1c6cf;
        font-size: 20px;
    }
    span {
        font-size: 20px;
    }
}
/** @format */

.versionmodal {
    z-index: 10000;
}

.text_cente {
    display: flex;
    justify-content: center;
}

.versionmodal .table td {
    padding: 10px;
    vertical-align: top;
    border-top: 0.0625rem solid #dee2e6;
}

.versionmodal ol.list-group li:nth-child(even) {
    background: #e3eaef;
}

.versionmodal.modal .modal-content .modal-header {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}

.modal_header {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}

.versionmodal.modal .modal-content .modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    display: flex;
    max-height: 180px;
    overflow-y: scroll;
    overflow: scroll;
}

.versionmodal .table-full-width {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px 0px 0px 0px !important;
}

.versionmodal .table.table-hover.table-striped {
    min-width: 500px;
}

.versionmodal thead {
    text-align: center;
}

.versionmodal .table thead th {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 400;
}

.versionmodal .table>tbody>tr>td {
    color: #9a9a9a;
    font-size: 14px;
}

.versionmodal .modal-header.close {
    position: absolute;
    right: 30px;
    top: 25px;
}

.close {
    position: absolute;
    right: 30px;
    top: 25px;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    margin: -0.4rem -0.5rem -2rem auto !important;
    padding: 0px 5px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.5;
    width: 40px;
}

.close:hover {
    width: 40px;
    font-size: 1.8rem;
    background-color: #dee2e6;
    border-radius: 50%;
}

/* .modal-dialog {
  padding-top: 100px;
} */
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1069px;
        margin: 1.75rem auto;
        overflow: scroll;
    }

    /* .modal_dialog {
    max-width: 600px !important;
    margin: 1.75rem auto;
  } */
}
@media (min-width: 992px) and (max-width: 1559px) {
    .footer-logo {
        img {
            max-width: 206px;
        }
    }
    .footer-social-icon {
        span {
            font-size: 16px;
        }
    }
    .footer-link {
        li {
            a {
                font-size: 16px;
                margin-right: 20px;
                padding-right: 20px;
            }
        }
    }
    .footer-mail {
        span {
            font-size: 15px;
        }
    }
    .footer-copyright {
        span {
            font-size: 15px;
        }
        a {
            font-size: 15px;
        }
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .footer-social-icon {
        span {
            font-size: 15px;
        }
    }
    .footer-link {
        li {
            a {
                font-size: 15px;
            }
        }
    }
}
@media (min-width: 100px) and (max-width: 500px) {
    .footer {
        padding-top: 30px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .footer-mail {
        span {
            font-size: 14px;
            margin-left: 5px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .footer-social-icon {
        span {
            font-size: 15px;
        }
        ul {
            li {
                a {
                    margin-right: 18px;
                }
            }
        }
    }
    .footer-link {
        li {
            a {
                font-size: 15px;
                margin-right: 15px;
                padding-right: 15px;
            }
        }
    }
    .footer-mail {
        span {
            font-size: 15px;
        }
    }
    .footer-copyright {
        span {
            font-size: 15px;
        }
        a {
            font-size: 15px;
        }
    }
    .footer-menu-email {
        > div {
            &:nth-child(1) {
                margin-bottom: 30px;
            }
        }
    }
    .footer-second-link {
        .justify-content-center {
            justify-content: start !important;
        }
    }
    .footer-copyright-logo {
        img {
            max-width: 156px;
        }
    }
    .footer-logo {
        img {
            max-width: 164px;
        }
    }
    .footer-logo-social {
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .footer-logo-social {
        margin-bottom: 0;
    }
    .footer-logo-image {
        display: none;
        max-width: 165px;
    }
    .footer-mail {
        align-items: start !important;
        flex-direction: column;
    }
    .ul-flex {
        flex-direction: column !important;
    }
    .footer-second-link {
        ul {
            flex-direction: column;
            align-items: start !important;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    .footer-mb-3-first {
        margin-bottom: 38px;
    }
    .footer-mb-3-sec {
        margin-bottom: 27px;
    }
    .footer-mb-3-third {
        margin-bottom: 22px;
    }
    .footer-link {
        li {
            a {
                font-size: 16px;
                margin-right: 0;
                padding-right: 30px;
            }
        }
    }
    .footer-first-link.footer-link {
        display: none;
    }
    .footer-second-link.footer-link {
        display: flex;
        flex-direction: row;
        width: 100%;
        ul {
            width: 100%;
            li {
                a {
                    border-right: none;
                    margin-right: 0;
                    padding-right: 0;
                    margin-bottom: 8px;
                    font-size: 15px;
                }
            }
        }
    }
    .footer-social-icon {
        span {
            font-size: 14px;
            margin-right: 0;
            margin-bottom: 15px;
            margin-left: 0;
        }
        flex-direction: column;
        align-items: flex-start !important;

        ul {
            li {
                a {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
    .footer-mail {
        span {
            font-size: 15px;
        }
    }
    .footer-copyright {
        margin-top: 30px;
        img {
            max-width: 156px;
        }
        a,
        span {
            font-size: 15px;
        }
    }
}
