/** @format */

.versionmodal {
    z-index: 10000;
    padding-top: 60px;
}

.text_cente {
    display: flex;
    justify-content: center;
}
.versionmodal .table td {
    padding: 10px;
    vertical-align: top;
    border-top: 0.0625rem solid #dee2e6;
}
.versionmodal ol.list-group li:nth-child(even) {
    background: #e3eaef;
}
.versionmodal.modal .modal-content .modal-header {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}
.modal_header {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}
.versionmodal.modal .modal-content .modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    display: flex;
}
.versionmodal .table-full-width {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px 0px 0px 0px !important;
}
.versionmodal .table.table-hover.table-striped {
    min-width: 1000px;
}
.versionmodal thead {
    text-align: center;
}
.versionmodal .table thead th {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 400;
}
.versionmodal .table > tbody > tr > td {
    color: #9a9a9a;
}
.versionmodal .modal-header.close {
    position: absolute;
    right: 30px;
    top: 25px;
}
.close {
    position: absolute;
    right: 30px;
    top: 25px;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    margin: -0.4rem -0.5rem -2rem auto !important;
    padding: 0px 5px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.5;
    width: 40px;
}
.close:hover {
    width: 40px;
    font-size: 1.8rem;
    background-color: #dee2e6;
    border-radius: 50%;
}

/* .modal-dialog {
  padding-top: 100px;
} */
/* @media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
    .modal_dialog {
    max-width: 600px !important;
    margin: 1.75rem auto;
  }
} */
